// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pale-spring-bud: rgba(244, 241, 187, 1);
$black-coffee: rgba(58, 51, 53, 1);
$ruby: rgba(216, 30, 91, 1);
$melon: rgba(249, 181, 172, 1);
$opal: rgba(198, 216, 211, 1);
