  <nav class="navbar">
    <%= link_to 'Cocktail <i class="fas fa-cocktail"></i>'.html_safe, root_path, class: "navbar-brand mb-0 h1" %>
    <%= link_to "Add Cocktail", new_cocktail_path, class: "btn-standard" %>
  </nav>
